.subpage {
	.examples-page {
		.lead {
			margin: 0 auto 5rem;
			max-width: 750px;

			h2 {
				font-size: 3rem;
				line-height: 4rem;
				margin: 4rem auto;
			}

			h3 {
				margin: 3rem auto;
			}
		}

		.examples {
			.example-item {
			}
		}
	}
}
