.btn {
	background: rgba(28, 18, 77, 0.5);
	border: none;
	border-radius: 0.5rem;
	box-sizing: border-box;
	display: block;
	font-size: 0.8rem;
	font-weight: 700;
	height: 2rem;
	line-height: 2rem;
	overflow: hidden;
	padding: 0 1rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: auto;

	&--primary {
		background: linear-gradient(103.65deg, #a30fbb 26.04%, #ce0a16 78.62%);
		color: #fff;
		mix-blend-mode: normal;

		&::after {
			background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
			mix-blend-mode: overlay;
			filter: blur(4px);
			content: "";
			display: block;
			height: 100%;
			left: 0;
			opacity: 0.5;
			position: absolute;
			top: 0;
			width: 100%;
		}

		&:hover {
			&::after {
				animation: primaryButtonHover 1500ms ease infinite;
			}
		}
	}

	&--large {
		font-size: 1.333331rem;
		height: 3.3333rem;
		line-height: 3.3333rem;
	}
}

@keyframes primaryButtonHover {
	0% {
		background-size: 100% 100%;
	}
	50% {
		background-size: 200% 200%;
	}
	100% {
		background-size: 100% 100%;
	}
}
