.callout {
	padding: 1rem;
	position: relative;

	&__text {
		text-align: center;

		.title {
			font-size: 1.3rem;
			font-weight: bold;
			line-height: 2rem;
		}
	}

	&__illustration {
		.illustration__col {
		}

		.illustration__image {
			position: relative;
		}
	}
}
