.callout {
	margin: 3rem auto;
	padding: 1rem;
	position: relative;

	@media only screen and (min-width: 1024px) {
		align-items: center;
		display: flex;
	}

	&__text {
		text-align: center;

		@media only screen and (min-width: 1024px) {
			flex: 0 0 50%;
			text-align: left;
		}

		.title {
			font-size: 1.3rem;
			font-weight: bold;
			line-height: 2rem;
		}
	}

	&__illustration {
		display: flex;
		justify-content: space-between;
		position: relative;

		@media only screen and (min-width: 1024px) {
			flex: 0 0 50%;
		}

		.illustration__col {
			flex: 0 0 45%;
			font-size: 0.8rem;
			text-align: center;
		}

		.illustration__logo {
			margin: 0 auto;
			width: 30px;
		}

		.illustration__image {
			border-radius: 10px;
			margin: 0 auto;
			max-width: 200px;
			padding: 5px;
			position: relative;

			@media only screen and (min-width: 768px) {
				border-radius: 30px;
				padding: 8px;
			}

			img {
				border-radius: 7px;

				@media only screen and (min-width: 768px) {
					border-radius: 22px;
				}
			}

			&--tiktok-feed-sample {
				background: #00ff57;
				filter: drop-shadow(0px 4px 10px #00ff57);
			}

			&--tiktok-twis-sample {
				background: #ff00a2;
				filter: drop-shadow(0px 4px 10px #ff00a2);
			}

			&--instagram-story-sample {
				background: #fff700;
				filter: drop-shadow(0px 4px 10px #fff700);
			}

			&--instagram-twis-sample {
				background: #35e9fd;
				filter: drop-shadow(0px 4px 10px #35e9fd);
			}
		}
	}

	&--tiktok {
		margin-bottom: 3rem;
	}

	&--instagram {
		@media only screen and (min-width: 1024px) {
			flex-direction: row-reverse;
		}

		.callout__text {
			@media only screen and(min-width: 768px) {
				box-sizing: border-box;
				padding-left: 3rem;
			}
		}
	}

	&__animated-arrow {
		bottom: -40px;
		height: 50px;
		left: calc(50% - 20px);
		position: absolute;
		transform: rotate(-120deg);
		width: 40px;
	}
}
