.full-width--customer-flow {
	padding: 4rem 0;

	h3 {
		font-size: 2rem;
		margin: 1rem 0 2rem;
		padding: 0;
		text-align: center;
	}
}

.container--customer-flow {
	display: flex;
	flex-direction: column;

	@media only screen and (min-width: 768px) {
		flex-direction: row;
	}

	.customer-flow {
		&__col {
			flex: 1;
			text-align: center;
		}

		&__illustration {
			.screen {
				border-radius: 10px;
				height: 216px;
				margin: 0 auto;
				position: relative;
				width: 120px;
			}

			&--engage {
				.screen {
					background: linear-gradient(161.74deg, #d343c8 9.18%, #e35d8b 50%, #f47d4f 92.56%);
				}

				.emoji {
					animation: emojiBounce 5000ms ease-in infinite;
					height: 30px;
					position: absolute;
					width: 30px;

					&:nth-child(1) {
						animation-delay: 1000ms;
						left: -10%;
						top: 10%;
					}

					&:nth-child(2) {
						animation-delay: 300ms;
						left: 95%;
						top: 30%;
					}

					&:nth-child(3) {
						animation-delay: 1300ms;
						left: 35%;
						top: 45%;
					}

					&:nth-child(4) {
						animation-delay: 2100ms;
						left: -5%;
						top: 90%;
					}

					&:nth-child(5) {
						animation-delay: 750ms;
						left: 35%;
						top: -5%;
					}

					&:nth-child(6) {
						animation-delay: 0ms;
						left: 80%;
						top: 70%;
					}
				}
			}

			&--educate {
				.screen {
					background: linear-gradient(161.74deg, #ef5e57 9.18%, #f58959 50%, #fab45b 92.56%);
				}

				.answer-option {
					animation: answerOptionFloating 3000ms ease-in infinite;
					backdrop-filter: blur(10px);
					border: 1px solid rgba(255, 255, 255, 0.1);
					border-radius: 10px;
					box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
					height: 30px;
					line-height: 30px;
					position: absolute;
					text-align: center;
					top: 0;
					left: 0;
					width: 100%;

					&:nth-child(1) {
						animation-delay: 1000ms;
						background: rgba(70, 195, 195, 0.28);
						left: -10%;
						top: 20%;
					}

					&:nth-child(2) {
						animation-delay: 300ms;
						background: rgba(11, 251, 87, 0.28);
						left: -20%;
						top: 45%;
					}

					&:nth-child(3) {
						animation-delay: 650ms;
						background: rgba(174, 73, 232, 0.48);
						left: 15%;
						top: 70%;
					}
				}
			}

			&--grow {
				.screen {
					background: linear-gradient(to bottom, #7f00ff, #e100ff);
				}

				.grow-screen-item {
					animation: formFieldGrowing 3000ms ease-in infinite;
					box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
				}

				.input-field {
					background: rgba(255, 255, 255, 0.2);
					backdrop-filter: blur(10px);
					border: 1px solid rgba(255, 255, 255, 0.1);
					border-radius: 5px;
					box-sizing: border-box;
					color: #fff;
					font-size: 0.6rem;
					font-weight: bold;
					height: 30px;
					line-height: 30px;
					left: -5%;
					padding: 0 0.5rem;
					position: absolute;
					width: 110%;

					&:nth-child(1) {
						animation-delay: 600ms;
						top: 25%;
					}

					&:nth-child(2) {
						animation-delay: 1200ms;
						top: 45%;
					}
				}

				.submit-button {
					animation-delay: 1800ms;
					background: rgba(11, 251, 87, 0.5);
					backdrop-filter: blur(10px);
					border: 1px solid rgba(255, 255, 255, 0.1);
					border-radius: 5px;
					box-sizing: border-box;
					color: #fff;
					font-size: 0.6rem;
					font-weight: bold;
					height: 30px;
					line-height: 30px;
					left: -5%;
					padding: 0 0.5rem;
					position: absolute;
					text-transform: uppercase;
					top: 65%;
					width: 110%;
				}
			}
		}

		&__description {
			line-height: 200%;
			margin: 3rem 1rem 1rem;
			padding: 1rem 0.5rem;
			position: relative;

			&::before {
				background: rgba(255, 255, 255, 0.5);
				content: "";
				display: block;
				height: 2px;
				mix-blend-mode: overlay;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}
	}
}

@keyframes answerOptionFloating {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes formFieldGrowing {
	0% {
		box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
		transform: scale(1);
	}
	10% {
		box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.15);
		transform: scale(1.1);
	}
	20% {
		box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
		transform: scale(1);
	}
}

@keyframes emojiBounce {
	0% {
		transform: scale(1);
	}
	5% {
		transform: scale(0.5);
	}
	10% {
		transform: scale(1);
	}
}
