.full-width--customer-flow {
	padding: 2rem 0;
}

.container--customer-flow {
	display: flex;

	.customer-flow {
		&__col {
			flex: 1;
			text-align: center;
		}

		&__illustration {
			.screen {
				border-radius: 10px;
				height: 216px;
				margin: 0 auto;
				position: relative;
				width: 120px;
			}

			&--engage {
				.screen {
					background: linear-gradient(161.74deg, #d343c8 9.18%, #e35d8b 50%, #f47d4f 92.56%);
				}
			}

			&--educate {
				.screen {
					background: linear-gradient(161.74deg, #ef5e57 9.18%, #f58959 50%, #fab45b 92.56%);
				}

				.answer-option {
					border-radius: 10px;
					box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
					height: 30px;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;

					&:nth-child(1) {
						background: #35e9fd;
						left: -10%;
						top: 20%;
					}

					&:nth-child(2) {
						background: #fef730;
						left: -20%;
						top: 45%;
					}

					&:nth-child(3) {
						background: #0bfb57;
						left: 15%;
						top: 70%;
					}
				}
			}

			&--grow {
				.screen {
					background: linear-gradient(to bottom, #7f00ff, #e100ff);
				}
			}

			&--build {
				.screen {
					background: linear-gradient(161.74deg, #b542e6 9.18%, #886ef0 50%, #5c9afa 92.56%);
				}
			}
		}
	}
}
