.faq-items {
	margin-bottom: 3rem;
	.faq-item {
		border-bottom: 1px solid #eee;

		&__header {
			align-items: center;
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			padding: 0 1rem;

			&:hover {
				background: #f7f7f7;
			}

			h4 {
				font-size: 1rem;
				font-weight: 400;
				margin: 0;
				padding: 1rem 0;
			}

			svg {
				min-width: 40px;
			}
		}

		&__body {
			background: rgba(28, 18, 77, 0.02);
			border-top: 1px solid #eee;
			padding: 1rem;

			p {
				font-size: 0.9rem;
			}
		}
	}
}
