.footer {
	background: #1a0928;
	color: #e4e0fd;
	font-size: 0.8rem;
	line-height: 200%;
	margin: 3rem auto;

	.container {
		display: flex;
		flex-direction: column;

		@media only screen and (min-width: 768px) {
			flex-direction: row;
		}
	}

	h4 {
		color: #fff;
		font-size: 1rem;
		margin: 0 0 1rem;
		padding: 0;
	}

	a {
		color: #fff;
		text-decoration: none;
	}

	&__contact {
		border-bottom: 2px solid rgba(255, 255, 255, 0.2);
		padding: 2rem 1rem;

		@media only screen and (min-width: 768px) {
			border-bottom: none;
			flex: 0 0 40%;
		}

		p {
			margin: 0;
			padding: 0;
		}
	}

	&__nav {
		box-sizing: border-box;
		padding: 2rem 1rem;

		@media only screen and (min-width: 768px) {
			display: flex;
			flex: 0 0 60%;
		}

		ul,
		li {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		ul {
			margin-bottom: 2rem;

			@media only screen and (min-width: 768px) {
				flex: 0 0 45%;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__copyright {
		border-top: 2px solid rgba(255, 255, 255, 0.1);
		font-size: 0.7rem;
		margin: 0;
		padding: 1rem 0;
		text-align: center;
		width: 100%;
	}
}
