.footer {
	background: #1a0928;
	color: #e4e0fd;
	font-size: 0.8rem;
	line-height: 200%;
	margin: 3rem auto;

	.container {
		display: flex;
		flex-direction: column;
	}

	h4 {
		color: #fff;
		font-size: 1rem;
		margin: 0 0 1rem;
		padding: 0;
	}

	a {
		color: #fff;
		text-decoration: none;
	}

	&__contact {
		border-bottom: 2px solid rgba(255, 255, 255, 0.2);
		flex: 1;
		padding: 2rem 1rem;

		p {
			margin: 0;
			padding: 0;
		}
	}

	&__nav {
		padding: 2rem 1rem;

		ul,
		li {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		ul {
			margin-bottom: 2rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
