.homepage {
	background: #1c124d;
	color: #fff;
}

#home {
	background-image: url(/images/home/header-gradient.jpg);
	background-size: 300%;
	background-position: top center;
	background-repeat: no-repeat;

	@media only screen and (min-width: 768px) {
		background-size: 200%;
	}

	@media only screen and (min-width: 996px) {
		background-size: contain;
	}
}

#hero {
	padding: 8rem 1rem 2rem;
	position: relative;
	z-index: 10;

	@media only screen and (min-width: 768px) {
		padding: 0 1rem;
	}

	@media only screen and (min-width: 996px) {
		flex: 4;
	}

	@media only screen and (min-width: 1200px) {
		padding: 0;
	}

	h1 {
		font-size: 2rem;
		line-height: 3rem;
		margin: 0 0 2rem;
		padding: 0;
		text-align: center;

		@media only screen and (min-width: 768px) {
			font-size: 2.2rem;
			text-align: left;
		}

		@media only screen and (min-width: 996px) {
			font-size: 3rem;
			line-height: 4rem;
		}
	}

	h2 {
		font-size: 1rem;
		font-weight: 400;
		line-height: 2rem;
		margin: 0;
		padding: 0;
		text-align: center;

		@media only screen and (min-width: 768px) {
			text-align: left;
		}
	}

	.btn {
		margin: 2rem auto;
		max-width: 250px;

		@media only screen and (min-width: 768px) {
			margin-left: 0;
		}
	}
}

#mockup {
	align-items: center;
	display: flex;
	height: 650px;
	/* overflow-x: hidden; */
	width: 100vw;

	@media only screen and (min-width: 996px) {
		flex: 3;
		padding-bottom: 0;
		padding-top: 0;
	}

	&__body {
		animation: mockupBody 500ms ease forwards;
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
		border: 10px solid #fff;
		border-radius: 43px;
		box-shadow: 30px -30px 50px #46116e;
		box-sizing: border-box;
		height: 600px;
		margin: 0 auto;
		opacity: 0;
		position: relative;
		width: 277px;
		z-index: 10;
		transform: rotate(18.25deg) scale(0.5);

		&::before {
			animation: mockupBefore 500ms ease forwards;
			animation-delay: 500ms;
			background: linear-gradient(90deg, #6c209c 0%, #44d3ef 100%);
			border-radius: 200px;
			content: "";
			display: block;
			height: 400px;
			left: -50px;
			mix-blend-mode: overlay;
			opacity: 0;
			position: absolute;
			top: 100px;
			width: 400px;
			z-index: 1;
		}
	}

	.mockup__item {
		position: absolute;

		&--text {
			font-size: 1.2rem;
			font-weight: bold;
			padding: 1rem;
			text-align: center;
			top: 50px;
		}

		&--image-1 {
			left: 30px;
			top: 200px;
			width: 200px;
		}

		&--image-2 {
			left: 50px;
			top: 390px;
			width: 150px;
		}

		&--image-3 {
			top: 450px;
			transform: rotate(-45deg);
			width: 40px;
		}

		&--image-4 {
			right: 0;
			top: 450px;
			transform: rotate(45deg) scaleX(-1);
			width: 40px;
		}

		.sticker__animation {
			border: 1px solid red;
			height: 240px;
			overflow: hidden;
			position: relative;
			transform: scale(0.6);
			width: 240px;
		}

		&--sticker-1 {
			animation: sticker1 500ms ease-out forwards;
			animation-delay: 500ms;
			transform: translateX(0px) translateY(200px) scale(0);
			width: 150px;
			z-index: 20;

			.sticker__animation {
				&::after {
					animation: sticker1Sprite 1.5s steps(48) infinite;
					background: url(/images/home/sprite--party-popper.png) no-repeat top left transparent;
					content: "";
					display: block;
					height: 240px;
					left: 0;
					position: absolute;
					top: 0;
					transform: translateX(0);
					width: 11520px;
				}
			}
		}

		&--sticker-2 {
			animation: sticker2 500ms ease-out forwards;
			animation-delay: 600ms;
			left: calc(50% - 75px);
			top: calc(50% - 75px);
			transform: scale(0);
			width: 150px;
			z-index: 20;

			&::after {
				animation: sticker2Sprite 1.5s steps(48) infinite;
				background: url(/images/home/sprite--heart-eyes.png);
				background-size: 7200px;
				content: "";
				display: block;
				height: 150px;
				width: 150px;
			}
		}

		&--sticker-3 {
			animation: sticker3 500ms ease-out forwards;
			animation-delay: 700ms;
			left: calc(50% - 75px);
			top: calc(50% - 75px);
			transform: scale(0);
			width: 150px;
			z-index: 20;

			&::after {
				animation: sticker3Sprite 1.5s steps(49) infinite;
				background: url(/images/home/sprite--thumbs-up.png);
				background-size: 7350px;
				content: "";
				display: block;
				height: 150px;
				width: 150px;
			}
		}

		&--button {
			align-items: flex-end;
			display: flex;
			height: 100%;
			justify-content: center;
			text-decoration: none;
			width: 100%;
			z-index: 10;

			span {
				background: linear-gradient(161.74deg, #b542e6 9.18%, #886ef0 50%, #5c9afa 92.56%);
				border-radius: 20px;
				color: #fff;
				display: block;
				font-weight: bold;
				line-height: 40px;
				margin-bottom: 70px;
				text-align: center;
				text-transform: uppercase;
				width: 170px;
			}
		}
	}
}

.container--hero-mockup {
	@media only screen and (min-width: 768px) {
		align-items: center;
		display: flex;
		padding-top: 5rem;
	}
}

@keyframes mockupBefore {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	80% {
		opacity: 0.5;
		transform: scale(1.2);
	}
	100% {
		opacity: 0.5;
		transform: scale(1);
	}
}

@keyframes mockupBody {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: rotate(8.25deg) scale(0.8);
	}
}

@keyframes sticker1 {
	100% {
		transform: translateX(-170px) translateY(-50px) scale(1);
	}
}

@keyframes sticker1Sprite {
	to {
		transform: translateX(-11520px);
	}
}

@keyframes sticker2 {
	80% {
		transform: scale(1.2);
	}
	100% {
		left: -170px;
		top: 70%;
		transform: scale(1);
	}
}

@keyframes sticker2Sprite {
	to {
		background-position: -7200px;
	}
}

@keyframes sticker3 {
	80% {
		transform: scale(1.2);
	}
	100% {
		left: 110%;
		top: 30%;
		transform: scale(1);
	}
}

@keyframes sticker3Sprite {
	to {
		background-position: -7350px;
	}
}

#benefits {
	margin: 0 auto;
	padding: 1rem;

	@media only screen and (min-width: 768px) {
		align-items: stretch;
		display: flex;
		flex-wrap: wrap;
	}

	@media only screen and (min-width: 996px) {
		justify-content: space-between;
	}

	@media only screen and (min-width: 1200px) {
		padding: 1rem 0;
	}

	.benefit {
		align-items: stretch;
		display: flex;
		padding: 1rem 0;
		position: relative;

		@media only screen and (min-width: 768px) {
			flex: 0 0 50%;
		}

		@media only screen and (min-width: 996px) {
			flex: 0 0 45%;
		}

		&__icon {
			margin: 0 1rem;
			font-size: 1.5rem;

			@media only screen and (min-width: 768px) {
				padding: 2rem 0 0;
			}
		}

		&__description {
			line-height: 150%;
			padding: 0 0 2rem;
			position: relative;
			width: 100%;

			@media only screen and (min-width: 768px) {
				padding: 2rem 0 0;
			}

			&::after {
				background: rgba(255, 255, 255, 0.5);
				bottom: 0;
				content: "";
				display: block;
				height: 2px;
				mix-blend-mode: overlay;
				position: absolute;
				width: 100%;

				@media only screen and (min-width: 768px) {
					display: none;
				}
			}

			&::before {
				background: rgba(255, 255, 255, 0.5);
				top: 0;
				content: "";
				display: none;
				height: 2px;
				mix-blend-mode: overlay;
				position: absolute;
				width: 100%;

				@media only screen and (min-width: 768px) {
					display: block;
				}
			}

			h3 {
				font-size: 1rem;
				margin: 0 0 0.2rem;
				padding: 0;
			}

			p {
				font-size: 0.9rem;
				padding: 0;
				margin: 0;
			}
		}
	}
}

#pricing {
	margin: 3rem auto;

	h3 {
		font-size: 3rem;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	&__terms {
		align-items: center;
		background: #27196d;
		border-radius: 1rem;
		display: flex;
		justify-content: center;
		margin: 2rem auto;
		position: relative;
		width: 340px;

		&::before {
			background: linear-gradient(to top, #7f00ff, #e100ff);
			border-radius: 0.9rem;
			content: "";
			display: block;
			height: 90%;
			left: 0;
			margin-left: 1%;
			position: absolute;
			top: 6%;
			transition: all 200ms ease-out;
			width: 48%;
		}

		&.term--monthly {
			&::before {
				margin-left: 51%;
			}
		}

		button {
			align-items: center;
			background: none;
			border: none;
			color: #fff;
			cursor: pointer;
			display: flex;
			font-size: 0.8rem;
			font-weight: bold;
			height: 3rem;
			justify-content: center;
			padding: 0 1rem;
			outline: none;
			width: 50%;
			z-index: 5;

			span {
				font-size: 0.7rem;
				font-weight: normal;
				padding-left: 0.5rem;
			}
		}
	}

	&__options {
		margin: 3rem auto;

		@media only screen and (min-width: 1100px) {
			display: flex;
		}

		.pricing-option {
			line-height: 200%;
			margin: 0 auto 2rem;
			max-width: 340px;
			position: relative;
			width: 100%;

			&__body {
				background: #1c124d;
				border-radius: 1.8rem;
				margin: 0.25rem;
				padding: 1rem;
				position: relative;
				z-index: 10;
			}

			h4 {
				border-bottom: 2px solid rgba(255, 255, 255, 0.2);
				font-size: 1rem;
				margin: 0 0 1rem;
				padding: 0 0 0.5rem;
			}

			&__price {
				.price {
					color: #2efb88;
					font-size: 1.5rem;
				}

				.term {
					font-size: 0.8rem;
				}
			}

			&__vat-info {
				font-size: 0.8rem;
				margin: 0.5rem 0;
				opacity: 0.5;
				padding: 0;
			}

			&__features {
				margin: 0;
				list-style-type: none;
				padding: 0;

				li {
					background-image: url("/images/home/icon--check.svg");
					background-position: 0 7px;
					background-repeat: no-repeat;
					margin: 0;
					padding: 0 0 0 2rem;
				}
			}

			&::before {
				background: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
				background-size: 200% 200%;
				border-radius: 2rem;
				content: "";
				display: block;
				height: calc(100% + 0.5rem);
				left: 0;
				position: absolute;
				top: -0.25rem;
				width: 100%;
				z-index: 0;

				@media only screen and(min-width: 1100px) {
					top: 0;
					height: 100%;
				}
			}

			&:hover {
				&::before {
					animation: gradientAnimation 1500ms ease infinite;
				}
			}
		}
	}

	&__cta {
		margin: 0 auto;
		max-width: 340px;

		p {
			margin: 0.5rem auto;
			padding: 0;
			text-align: center;
		}
	}
}

@keyframes gradientAnimation {
	0% {
		background-position: 0 0;
	}
	25% {
		background-position: -50% 0;
	}
	50% {
		background-position: -100% -25%;
	}
	75% {
		background-position: -20% -75%;
	}
	100% {
		background-position: 0 0;
	}
}
