#background-gradient {
	height: 300vh;
	left: 0;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	width: 100vw;

	.gradient {
		min-height: 100px;
		position: absolute;
		min-width: 100px;

		&--1 {
			background: linear-gradient(180deg, #5a38fd 0%, #1c124c 100%);
			border-radius: 100vh;
			mix-blend-mode: normal;
			filter: blur(100px);
			left: -100vw;
			height: 100vh;
			width: 300vw;
		}

		&--2 {
			background: linear-gradient(180deg, #0ae7f5 0%, #a30fbb 100%);
			mix-blend-mode: normal;
			border-radius: 100vh;
			mix-blend-mode: normal;
			filter: blur(100px);
			left: 20%;
			height: 100vh;
			top: -20%;
			width: 300vw;
			transform: rotate(136.06deg);
		}

		&--3 {
			background: linear-gradient(180deg, #a30fbb 0%, #1c124c 100%);
			border-radius: 100vw;
			mix-blend-mode: normal;
			height: 100vw;
			top: 50vh;
			width: 100vw;
			filter: blur(200px);
		}
	}
}

#hero {
	padding: 8rem 1rem 2rem;
	position: relative;
	z-index: 10;

	h1 {
		font-size: 2rem;
		line-height: 3rem;
		margin: 0 0 2rem;
		padding: 0;
		text-align: center;
	}

	h2 {
		font-size: 1rem;
		font-weight: 400;
		line-height: 2rem;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.btn {
		margin: 2rem auto;
		max-width: 250px;
	}
}

#mockup {
	align-items: center;
	display: flex;
	height: 600px;
	overflow-x: hidden;
	width: 100vw;

	&__body {
		background-color: #fff;
		border: 10px solid #fff;
		border-radius: 43px;
		box-shadow: 30px -30px 50px #46116e;
		box-sizing: border-box;
		height: 600px;
		margin: 0 auto;
		position: relative;
		width: 277px;
		z-index: 10;
		transform: rotate(8.25deg) scale(0.8);

		&::before {
			background: linear-gradient(90deg, #6c209c 0%, #44d3ef 100%);
			border-radius: 200px;
			content: "";
			display: block;
			height: 400px;
			left: -50px;
			mix-blend-mode: overlay;
			opacity: 0.5;
			position: absolute;
			top: 100px;
			width: 400px;
			z-index: 1;
		}

		&::after {
			background-image: url(/twis-demo-image.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 38px;
			content: "";
			display: block;
			height: 100%;
			position: absolute;
			width: 100%;
			z-index: 2;
		}
	}
}

#benefits {
	padding: 1rem;

	.benefit {
		align-items: center;
		display: flex;
		padding: 1rem 0;
		position: relative;

		&__icon {
			margin: 0 1rem;
			font-size: 1.5rem;
		}

		&__description {
			line-height: 150%;
			width: 100%;

			&::after {
				background: linear-gradient(180deg, #a30fbb 0%, #1c124c 100%);
				bottom: 0;
				content: "";
				display: block;
				height: 2px;
				margin-top: 1rem;
				width: 100%;
			}

			h3 {
				font-size: 1rem;
				margin: 0 0 0.2rem;
				padding: 0;
			}

			p {
				font-size: 0.9rem;
				padding: 0;
				margin: 0;
			}
		}
	}
}
