.container {
	margin: 0 auto;
	max-width: 1180px;
}

.subpage {
	.content {
		margin: 0 auto;
		max-width: 560px;
		padding: 5rem 1rem 0;

		h1 {
			font-size: 1.5rem;
			margin: 0;
			padding: 0;
		}
	}
}
