.container {
	margin: 0 auto;
	max-width: 1180px;
}

.subpage {
	.content {
		box-sizing: border-box;
		display: flex;
		flex-direction: column-reverse;
		line-height: 200%;
		margin: 0 auto;
		max-width: 650px;
		padding: 6rem 1rem 2rem;
		position: relative;
		z-index: 1;

		@media only screen and (min-width: 1200px) {
			flex-direction: row;
			max-width: 1180px;
			padding: 8rem 0;
		}

		.lead-image {
			margin: 3rem auto;
			max-width: 500px;
		}

		&__sidebar {
			@media only screen and (min-width: 996px) {
				flex: 3;
			}
		}

		&__body {
			flex: 9;
			max-width: 100%;
		}

		h1 {
			border-bottom: 1px solid #eee;
			font-size: 2rem;
			line-height: 150%;
			margin: 0;
			padding: 0 0 1rem;
		}

		h2 {
			font-size: 1.3rem;
		}

		h3 {
			font-size: 1.2rem;
		}
	}
}
