.subpage {
	.pricing-page {
		.lead {
			margin: 0 auto 5rem;
			max-width: 750px;

			h2 {
				font-size: 3rem;
				line-height: 4rem;
				margin: 4rem auto;
			}

			h3 {
				margin: 3rem auto;
			}
		}
	}

	.pricing--light {
		#pricing {
			&__terms {
				background: #eee;

				&::before {
					background: linear-gradient(to top, #f7f7f7, #fff);
				}

				button {
					color: #333;
				}
			}

			&__options {
				.pricing-option {
					&__body {
						background: #fff;
					}

					h4 {
						border-bottom: 2px solid rgba(0, 0, 0, 0.05);
					}

					&__price {
						.price {
							color: #b426c7;
						}
					}

					&__features {
						li {
							background-image: url("/images/home/icon--check--dark.svg");
						}
					}
				}
			}
		}
	}
}
