.nav--sidebar {
	ul,
	li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	h4 {
		border-bottom: 1px solid #eee;
		font-size: 1rem;
		font-weight: bold;
		line-height: 200%;
		margin: 0 2rem 1rem 0;
		padding: 0 0 1rem;
	}

	li {
		margin: 0 2rem 0.5rem 0;
	}

	a {
		color: #5a38fd;
		font-size: 0.8rem;
		text-decoration: none;

		&.active {
			color: #333;
			cursor: default;
		}
	}
}
