.nav--sidebar {
	margin-top: 2rem;

	@media only screen and (min-width: 996px) {
		margin-top: 0;
	}

	ul,
	li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	h4 {
		font-size: 1rem;
		font-weight: bold;
		line-height: 200%;
		margin: 0 2rem 0 0;
		padding: 0 0 1rem;
	}

	li {
		margin: 0 2rem 0.5rem 0;
	}

	a {
		color: #5a38fd;
		font-size: 0.8rem;
		text-decoration: none;

		&.active {
			color: #333;
			cursor: default;
		}
	}
}
