.font--mulish {
	font-family: "Mulish", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-feature-settings: "liga", "clig";
}

.hidden {
	display: none;
}

.hidden-on-desktop {
	@media only screen and (min-width: 768px) {
		display: none;
	}
}

.hidden-on-mobile {
	@media only screen and (max-width: 767px) {
		display: none;
	}
}

.link {
	color: #5a38fd;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.subprocessor {
	border-bottom: 1px solid #eee;
}

.copy {
	&--small {
		font-size: 0.7rem;
	}
}

.full-width {
	width: 100%;
}

.color {
	&--neon-blue {
		color: #0ae7f5;
	}

	&--neon-green {
		color: #00ff57;
	}

	&--neon-yellow {
		color: #ffee58;
	}

	&--neon-pink {
		color: #ff0097;
	}
}

.force-gpu {
	backface-visibility: hidden;
	perspective: 1000;
	transform: translate3d(0, 0, 0);
	transform: translateZ(0);
}

.animation-paused {
	animation-play-state: paused;
}

.op-0 {
	opacity: 0;
}

.align {
	&--left {
		text-align: left;
	}

	&--center {
		text-align: center;
	}

	&--rigth {
		text-align: right;
	}
}
