@import "normalize";
@import "header";
@import "hero";
@import "background-gradient";
@import "utility";

html,
body {
	background: #1c124d;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
}