@import "normalize";
@import "layout";
@import "button";
@import "header";
@import "home";
@import "utility";

html,
body {
	background: #1c124d;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}

div#__next {
	height: 100%;
}
